<h1><%= @article.title %></h1>
<div>
  <%= link_to 'Edit this article', edit_article_path(@article), class: 'btn btn-mini' %>
</div>
<div>
  <p>
    Last updated <%= @article.updated_at.strftime('%b %d, %Y at %T %Z (%z)') %>
    by <%= @article.user.email %>
  </p>
  <p>Filed under <% @article_categories.each do |category| %>
    <%= link_to category.name, category %>&nbsp;
    <% end %>
  </p>
  <div>
    <%= simple_format(@article.content) %>
  </div>
</div>
